#head{
  text-align: center;
  margin: 20px;
}

.links{
  white-space: nowrap;

}

.links a {
  color: black;
  font-weight: bold;
  text-align: center;
}

#pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
}

#meleeD{
  width: 75%;
  text-align: center;
  margin:auto;
}
